<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    
    <title>Home Page</title>
</head>
<body>
    <div class="container"> 
        {{>header}}
    <p>Getting Your Weather made easy</p>
    <form action="">
        <input type="text" placeholder="Location">
        <button>Search</button>
        <p id="msg-1"></p>
        <p id="msg-2"></p>
    </form>
    </div>
     
    {{>footer}}
    <script src="js/script.js"></script>
</body>
</html>